html {
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-cart {
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}

.sprite-checkbox-off {
  width: 23px;
  height: 23px;
  background-position: -30px -5px;
}

.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -63px -5px;
}

.sprite-close-cross {
  width: 21px;
  height: 21px;
  background-position: -5px -38px;
}

.sprite-icon-fb {
  width: 12px;
  height: 22px;
  background-position: -36px -38px;
}

.sprite-icon-insta {
  width: 21px;
  height: 21px;
  background-position: -58px -38px;
}

.sprite-icon-vk {
  width: 26px;
  height: 15px;
  background-position: -58px -69px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -100px -5px;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -94px -40px;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 15px 54px;
  border-radius: 2px;
  background-color: #fb565a;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  line-height: 18px;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px #c13135 inset;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 48px;
}

.main-navigation {
  display: flex;
  align-items: stretch;
}

.main-logo {
  display: block;
  width: 280px;
}

.main-logo:hover {
  opacity: .8;
}

.main-logo:focus {
  opacity: .3;
}

.site-navigation {
  width: 600px;
  text-align: center;
  padding-top: 33px;
}

.site-navigation li {
  display: inline-block;
  margin: 0;

}

.site-navigation a {
  display: block;
  margin: 0 21px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation .active-page {
  border-bottom: 2px solid #fb565a;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  width: 280px;
  text-align: right;
  padding-top: 33px;
}

.user-navigation a {
  text-transform: uppercase;
  font-weight: 500;
}

.user-navigation .sprite-cart {
  margin-right: 26px;
}

.hero {
  background-color: #eeeeee;
  margin-bottom: 84px;
}

.slider {
  height: 426px;
  position: relative;
}

.slide-text {
  padding-top: 74px;
  line-height: 1.5;
}

.slide-text p {
  margin-bottom: 42px;
}

.slide-title {
  display: block;
  font-size: 56px;
  line-height: 1;
  padding-bottom: 24px;
  font-weight: 500;
}

.slider-item {
  height: 426px;
  background-repeat: no-repeat;
}

.slide-design, .slide-math {
  display: none;
}

.slider-item:target {
  display: block;
}

.slide-design {
  background-image: url(../img/main/slide-design.png);
  background-position: right 31px bottom;
}

.slide-math {
  background-image: url(../img/main/slide-math.png);
  background-position: right 2px bottom;
}

.slide-hardcore {
  background-image: url(../img/main/slide-hardcore.png);
  background-position: right 2px bottom;
}

.slider-controls {
  display: none;
  /*position: absolute;
  left: 0;
  top:0;*/
}

.services-title {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-top: 20px;
}

.services-txt {
  line-height: 1.5;
  margin-top: 15px;
  padding-bottom: 31px;
}

.services-list {
  display: flex;
  align-items: stretch;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
  margin-bottom: 40px;
}

.service-item {
  width: 300px;
  margin-right: 100px;
}

.service-item:last-child {
  margin-right: 0;
}

.order-btn {
  padding: 16px 40px;
}

.service-applications .order-btn {
  background-color: #00ca74;
}

.service-applications .order-btn:hover {
  background-color: #00bc6c;
}

.service-applications .order-btn:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px #009958 inset;
}

.service-presentations .order-btn {
  background-color: #efc84a;
}

.service-presentations .order-btn:hover {
  background-color: #eab534;
}

.service-presentations .order-btn:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px #ce961f inset;
}

.info {
  display: flex;
  padding-bottom: 74px;
  border-bottom: 2px solid #eeeeee;
}

.studio-img {
  width: 360px;
}

.studio-txt {
  padding-top: 34px;
  width: 800px;
}

.info-nerds {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
}

.info-txt {
  padding: 34px 0 38px;
  line-height: 1.5;
}

.orders {
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.list-item {
  line-height: 1.5;
  margin-top: 24px;
}

.list-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #fb565a;
  margin-right: 11px;
  vertical-align: middle;
}

.accuracy {
  display: block;
  padding-top: 34px;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
}

.percentage {
  font-size: 45px;
  font-weight: 600;
}

.percentage sup {
  font-size: 28px;
}

.advantages {
  display: flex;
  padding-top: 38px;
}

.advantage-item {
  width: 33%;
}

.advantage-txt {
  display: block;
  padding-top: 16px;
  line-height: 1;
}

.percentage {
  display: block;
}

.partners {
  padding: 47px 0 39px 0;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
}

.partners-item {
  width: 25%;
  text-align: center;
}

.partners-item a {
  opacity: .2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:focus {
  opacity: .1;
}

.map {
  position: relative;
  height: 416px;
  margin-bottom: 69px;
}

.map-placeholder {
  height: 416px;
}

.contacts-container {
  position: absolute;
  left: 0;
  top: 54px;
  bottom: 54px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.contacts-block {
  width: 319px;
  height: 308px;
  background: #ffffff;
  padding: 50px;
}

.main-footer {
  display: flex;
  margin-bottom: 69px;
}

.social {
  width: 400px;
}

.social-btn {
  display: inline-block;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  text-align: center;
  line-height: 89px;
  margin-right: 9px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:focus {
  background-color: #e74246;
  box-shadow: 0 1px 2px #c13135 inset;
}

.social-btn:focus .sprite {
  opacity: .3;
}

.promo {
  width: 760px;
  padding-top: 5px;
}

.promo-txt {
  display: block;
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  padding-bottom: 13px;
}

.studio-title {
  display: block;
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.contacts-block address {
  font-style: normal;
  margin-bottom: 20px;
}

.contacts-btn {
  padding: 15px;
  text-align: center;
  display: block;
  margin-top: 35px;
}

.contacts-popup-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  padding: 65px 100px 84px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}

.contacts-popup-close {
  position: absolute;
  right: 90px;
  top: 79px;
}

.contacts-popup-form:target {
  display: block;
}

.contacts-popup-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.contacts-popup-form .contacts-popup-placeholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-popup-form legend {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 37px;
}

.contacts-popup-form .control {
  display: block;
  width: 100%;
}

.contacts-popup-form .control-name,
.contacts-popup-form .control-email {
  width: 360px;
  margin-bottom: 33px;
}

.contacts-popup-form .control-comment {
  margin-bottom: 43px;
}

.contacts-popup-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 9px;
}

.contacts-popup-form input,
.contacts-popup-form textarea {
  height: 50px;
  line-height: 50px;
  border: 2px solid #d7dcde;
  color: #000000;
  border-radius: 2px;
  width: 100%;
  padding: 0 14px;
  outline: none;
  box-shadow: none;
}

.contacts-popup-form textarea {
  height: 118px;
  line-height: 1.2;
  padding: 11px;
  resize: none;
}

.contacts-popup-form input::placeholder,
.contacts-popup-form textarea::placeholder {
  color: #a1a1a1;
}

.contacts-popup-form input:hover,
.contacts-popup-form textarea:hover {
  border-color: #b4b9bb;
}

.contacts-popup-form input:focus,
.contacts-popup-form textarea:focus {
  border-color: #000000;
}

.contacts-popup-form input:invalid,
.contacts-popup-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.contacts-popup-form input:invalid::placeholder,
.contacts-popup-form textarea:invalid::placeholder {
  color: #e74246;
}

.contacts-popup-form .button {
  padding: 16px 81px;
}

/* Каталог */

.page-header {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  background-color: #eeeeee;
  padding: 38px 0 108px;
  text-align: center;
}

.catalog {
  display: flex;
}

.filters {
  width: 260px;
  margin-right: 140px;
}

.filter-catalog fieldset {
  border: none;
  padding: 0;
  margin: 19px 0 58px;
}

.filter-catalog legend {
  font-weight: 600;
  font-size: 19px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.filter-catalog label {
  display: block;
  margin-bottom: 20px;
}

.filter-catalog .form-btn {
  width: 100%;
  text-align: center;
}

.filter-price-placeholder {
  background-color: #eeeeee;
  padding: 39px 21px;
  border-radius: 2px;
  margin-bottom: 14px;
}

.filter-price-range {
  background: #d7dcde;
  height: 2px;
  position: relative;
}

.filter-price-range-selected {
  background: #00ca74;
  height: 2px;
  width: 75%;
}

.filter-price-range::before,
.filter-price-range::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 100%;
  box-shadow: 0 3px 2px #cccdcd;
  cursor: pointer;
}

.filter-price-range::before {
  left: 0;
}

.filter-price-range::after {
  left: 75%;
  transform: translateX(-10px);
}

.filter-value-placeholder {
  display: flex;
  justify-content: space-between;
}

.filter-value-from,
.filter-value-to {
  width: 113px;
  text-transform: uppercase;
}

.filter-value-to {
  text-align: right;
}

.filter-value-from span,
.filter-value-to span {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 2px;
  margin-left: 6px;
}

input[type=checkbox] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

input[type=checkbox] ~ .sprite {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 23px;
  height: 23px;
  background-position: -30px -5px;
}

input[type=checkbox]:checked ~ .sprite {
  background-position: -63px -5px;
}

input[type=radio] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

input[type=radio] ~ .sprite {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-position: -100px -5px;
}

input[type=radio]:checked ~ .sprite {
  background-position: -94px -40px;
}

input ~ .sprite {
  opacity: .4;
}

input:hover:not(:disabled) ~ .sprite {
  opacity: 1;
}

input:disabled ~ .sprite {
}

.disabled {
  opacity: .3;
}

.form-btn {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  background-color: #eeeeee;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  border: none;
  /*padding: 0 54px;*/
}

.form-btn:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.form-btn:focus,
.form-btn:active {
  color: #000000;
  background-color: #d5d5d5;
  box-shadow: 0 3px 3px #bfbfbf inset;
}

.nav-link {
  border-radius: 2px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 11px;
}

.nav-link.active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  line-height: 45px;
}

.nav-link-next {
  padding: 0 79px;
}

.shop-content {
  width: 760px;
  margin-bottom: 60px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 23px;
}

.sorting-filters {
  display: inline-block;
  margin-right: 20px;
}

.sorting-filters li {
  display: inline-block;
  margin-left: 27px;
}

.sorting-filters a {
  text-transform: uppercase;
  font-size: 14px;
  opacity: .3;
}

.sorting-filters a:hover {
  opacity: .6;
}

.sorting-filters a:active,
.sorting-filters a:focus {
  opacity: 1;
}

.pickers {
  display: inline-block;
}

.pickers li {
  display: inline-block;
  margin-left: 9px;
}

.pickers a {
  opacity: .3;
}

.pickers a:hover {
  opacity: .6;
}

.pickers a:active,
.pickers a:focus {
  opacity: 1;
}

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 11px solid;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 11px solid;
}

.layouts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-item {
  width: 360px;
  margin-bottom: 29px;
  overflow: hidden;
  position: relative;
}

.layout-pic {
  display: block;
}

.layout-window {
  height: 41px;
  line-height: 41px;
  border-radius: 2px 2px 0 0;
  background: #4d4d4d;
  padding-left: 16px;
  opacity: .12;
  transition: opacity .25s linear 0s;
}

.layout-window span {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  margin-right: 9px;
}

.layout-item:hover .layout-window {
  opacity: 1;
}

.layout-hover {
  text-align: center;
  background: #eeeeee;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 29px;
  /*transform: translateY(110%);*/
  transition: transform 0.25s linear 0s;
}

.layout-title {
  display: block;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
}

.layout-hover p {
color: #666666;
padding-bottom: 31px;
}

.layout-item:hover .layout-hover {
  transform: translateY(0);
}

.layout-btn {
  padding: 15px 61px;
}

.paginator {
  margin-top: 20px;
}
